# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
109833_dump.log
LocalRunner.ini
local_runner.exe
socat-2.0.0-b8-windows-master.zip
socat-2.0.0-b8-windows-master/cygcrypto-1.0.0.dll
socat-2.0.0-b8-windows-master/cyggcc_s-1.dll
socat-2.0.0-b8-windows-master/cygncursesw-10.dll
socat-2.0.0-b8-windows-master/cygreadline7.dll
socat-2.0.0-b8-windows-master/cygssl-1.0.0.dll
socat-2.0.0-b8-windows-master/cygwin1.dll
socat-2.0.0-b8-windows-master/cygwrap-0.dll
socat-2.0.0-b8-windows-master/cygz.dll
socat-2.0.0-b8-windows-master/README.md
socat-2.0.0-b8-windows-master/socat.exe
128331_dump.log
LocalRunner- Socat.ini
main_debug.py
BadGames/visio_622930738.log
*.log
